@font-face {
    font-family: 'Cafe24SsurroundAir';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2105_2@1.0/Cafe24SsurroundAir.woff') format('woff');
    font-weight:normal;
    font-style: normal;
}

h1{
    font-weight: bold;
    margin-top: 0.3em;
    

}
*{
    font-family: 'Cafe24SsurroundAir';
}

body{
    margin: 0;
    background-image: url("images/bbback.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    overflow-y: scroll;

}

.input-area{
    
    max-width: 80vw;
    margin-bottom: 1em;
}

#task-input{
    
    width:50vw;
    border-left-width:0;
    border-right-width:0;
    border-top-width:0;
    border-bottom-width:1;
    border-color:rgb(250,211,127);
    
}

#add-button{
    
    color: rgb(250, 211, 127);
    border: none;
    background-color: white;
}


.check-btn{
   color: rgb(3, 197, 3); 
   border: none;
   background-color: white;
}
.delete-btn{
    color: rgb(241, 64, 64);
    border: none;
    background-color: white;
}


.container{
    background-color: white;
    width:100vw;
    min-height: 100vh;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-top: dashed 7px rgb(64, 64, 64);
    border-bottom: dashed 7px rgb(64, 64, 64); 
}

.task-area{
    border: 1px solid lightgray;
    
    
}
.task-tabs{
    display: flex;
    border-bottom: 1px solid lightgray;
    position: relative;
    font-weight: bold;
    
}

.task-tabs div{
    padding: 1em;
    cursor:pointer;
}

#under-line{
    height: 4px;
    background-color: rgb(250,211,127);
    position: absolute;
    width: 50px;
    left: 0px;
    top: 56px;
    padding: 0px;
    transition: 0.5s;
}

.task{
    display: flex;
    justify-content: space-between;
    padding: 1em;

}


.task-done{
    text-decoration: line-through;
    background-color: lightgray;
    transition: 0.5s;
   
 
}